.clints {
    width: 100%;
    background-image: url(../../img/bg-clints.png);
    background-size: cover;
    position: relative;
    .caption {
        h2 {
            @include textCaption;
            color: $white;
            span {
                color: $pink;
            }
        }
        p {
            @include textDescription;
            margin-bottom: 100px;
            color: $lightGrey;
            span {
                color: $pink;
            }
        }
    }
    .clints-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }
        .item-clints {
            animation-name: fade;
            animation-duration: 1.5s;
            .clip-wrap {
                img {
                    width: 66px;
                    height: 57px;
                }
            }
        }
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        .slider-dots {
            display: flex;
            flex-direction: row;
            justify-content: center;
            bottom: 80px;
            @media screen and (max-width: 1200px) {
                bottom: -40px;
            }
            .slider-dots-item {
                margin-right: 5px;
                background-color: $btn;
                border: none;
                width: 8px;
                height: 8px;
                opacity: 1;
                padding: 0;
                border-radius: 0;
                cursor: pointer;
            }
            .active {
                background-color: $pink;
            }
        }
        .comments {
            text-align: center;
            h4 {
                font: 20px 'Raleway-Medium', sans-serif;
                text-transform: uppercase;
                color: $white;
                margin: 0 0 51px 0;
                @media screen and (max-width: 576px) {
                    position: initial;
                }
            }
            p {
                font: 16px 'Lato-Regular', sans-serif;
                color: $listColor;
                margin: 0 auto 47px;
                max-width: 600px;
            }
            .clip-polygon {
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                margin-bottom: 17px;
            }
            h6 {
                font: 16px 'Raleway-Regular', sans-serif;
                text-transform: uppercase;
                color: $pink;
                margin: 0 0 26px 0;
            }
        }
        .companies-names {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 650px;
            padding-bottom: 100px;
            @media screen and (max-width: 1200px) {
                position: relative;
                top: 70px;
            }
            .block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 270px;
                height: 116px;
                background: radial-gradient(white, #898989);
                margin: 15px auto;
                border: none;
                transition: all 1.5s;
                &:hover {
                    transform: scale(1.1);
                }
                img {
                    margin-right: 8px
                }
                p {
                    margin: 0;
                    font: 24px 'Raleway-Regular', sans-serif;
                }
            }
        }
    }
    .figure {
        .hexagon {
            background: $pink;
            &:before {
                border-left: 7px solid $pink;
            }
            &:after {
                border-right: 7px solid $pink;
            }
            .line {
                background: $pink;
            }
        }
    }
}