.clints {
    width: 100%;
    background-image: url(../../img/bg-clints.png);
    background-size: cover;

    .caption {

        h2 {
            font: 30px 'Raleway-Bold', sans-serif;
            color: $white;
            text-align: center;
            margin: 0 auto 50px;
            padding-top: 100px;

            span {
                color: $pink;
            }
        }

        p {
            font: 16px 'Lato-Bold', sans-serif;
            text-align: center;
            margin-bottom: 100px;
            color: $lightGrey;

            span {
                color: $pink;
            }
        }
    }

    .clints-section {

        .carousel-indicators {
            @media screen and (min-width: 320px) and (max-width: 1200px) {
                bottom: -40px;
            }


            bottom: 80px;

            .btn {
                margin-right: 5px;
                background-color: $btn;
                border: none;
                width: 8px;
                height: 8px;
                opacity: 1;
                padding: 0;
                border-radius: 0;
                cursor: pointer;
            }

            .active {
                background-color: $pink;
            }
        }

        .comments {
            text-align: center;

            h4 {
                font: 20px 'Raleway-Medium', sans-serif;
                text-transform: uppercase;
                color: $white;
                margin: 0 0 51px 0;

                @media screen and (min-width: 320px) and (max-width: 576px) {
                    position: initial;
                }
            }


            p {
                font: 16px 'Lato-Regular', sans-serif;
                color: $listColor;
                margin: 0 auto 47px;
                max-width: 600px;
            }

            .clip-polygon {
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                margin-bottom: 17px;
            }

            h6 {
                font: 16px 'Raleway-Bold', sans-serif;
                text-transform: uppercase;
                color: $pink;
            }

        }

        .companies-names {
            max-width: 650px;
            padding-bottom: 100px;

            @media screen and (min-width: 320px) and (max-width: 1200px) {
                position: relative;
                top: 70px;
            }

            .block {
                cursor: pointer;
                width: 270px;
                height: 116px;
                background: radial-gradient(white, #898989);
                margin: 15px auto;

                img {
                    margin-right: 8px
                }

                p {
                    margin: 0;
                    font: 24, 16px 'Raleway-Bold'sans-serif; // шрифт
                }
            }
        }
    }

    .figure {
        height: 18px;
        width: 100%;
        position: relative;
        top: 9px;

        .hexagon {
            width: 8px;
            height: 18px;
            background: $pink;
            position: relative;
            margin: 200px;

            .line {
                width: 517px;
                height: 1px;
                background: $pink;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translateX(50%);

                @media screen and (min-width: 576px) and (max-width: 768px) {
                    width: 400px;
                }

                @media screen and (min-width: 320px) and (max-width: 576px) {
                    width: 300px;
                }
            }
        }

        .hexagon:before {
            content: "";
            position: absolute;
            top: 0px;
            right: -7px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-left: 7px solid $pink;
            border-bottom: 9px solid transparent;
        }

        .hexagon:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -7px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-right: 7px solid $pink;
            border-bottom: 9px solid transparent;
        }
    }
}