.fine {
    width: 100%;
    position: relative;

    h2 {
        @include textCaption;

        span {
            color: $pink;
        }
    }

    p {
        @include textDescription;
        margin-bottom: 100px;

        span {
            color: $pink;
        }
    }

    .map {
        padding: 0;
        min-height: 575px;
        position: relative;

        iframe {
            width: 100%;
            position: absolute;

            @media screen and (min-width: 320px) and (max-width: 992px) {
                position: static;
            }


        }

        .users-messages {

            .container {
                height: 575px;
            }

            .coordinates {
                position: relative;
                width: 300px;
                max-height: 170px;
                background: $darkGrey;
                margin-right: 130px;
                top: 50%;

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    position: absolute;
                    top: 20%;
                    right: 10%;
                }

                @media screen and (min-width: 576px) and (max-width: 768px) {
                    position: absolute;
                    top: 20%;
                    right: 20px;
                    margin-right: 0;
                }

                @media screen and (min-width: 320px) and (max-width: 576px) {
                    position: absolute;
                    top: 20%;
                    margin-right: 0;
                    right: 50%;
                    transform: translateX(50%);
                    margin-right: 0;
                }
            }

            .coordinates-text {
                margin: 34px 0 0 24px;

                p {
                    font: 16px 'MyriadPro-Regular', sans-serif;
                    color: $white;
                    margin-bottom: 9px;
                    text-align: left;
                }
            }

            svg {
                width: 56px;
                height: 56px;
                position: absolute;
                right: 15px;
                bottom: -55px;

                polygon {
                    fill: $darkGrey;
                }
            }
        }

        .message {
            position: relative;
            background: $white;
            width: 475px;
            height: 475px;

            @media screen and (min-width: 320px) and (max-width: 992px) {
                width: 600px;
                height: 475px;
                top: -10%;
                border: 1px solid $black;
            }

            .wrapper {
                padding: 50px 44px;

                @media screen and (min-width: 320px) and (max-width: 576px) {
                    padding: 40px 24px;
                }


                h3 {
                    font: 20px 'Raleway-Medium', sans-serif;
                    text-transform: uppercase;
                    color: $darkGrey;
                    margin: 0 0 50px 0;
                }

                input {
                    width: 100%;
                    height: 32px;
                    background: $white;
                    border: 1px solid $light;
                    color: $textColor;
                    font: 16px 'Raleway-Bold', sans-serif;
                    margin-bottom: 21px;
                    padding-left: 16px;
                }

                .last-input {
                    height: 86px;
                    margin-top: 6px;
                }

                button {
                    width: 120px;
                    height: 40px;
                    background: $darkGrey;
                    color: $white;
                    font: 16px 'Lato-Regular', sans-serif;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}