.follow {
    width: 100%;
    height: 383px;
    position: relative;
    background-image: url('../../img/socialbg.png');
    background-size: cover;
    z-index: 1;

    &:hover {
        .hover-bg {
            display: block;
        }
    }

    .hover-bg {
        display: none;
        width: 100%;
        height: 383px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container {
        z-index: 3;

        h2 {
            @include textCaption;
            color: $white;
            margin: 0 auto 50px;
            padding-top: 100px;

            span {
                color: $pink;
            }
        }

        .social-item {

            p {
                font: 16px 'Lato-Regular', sans-serif;
                color: $white;
                margin: 0;
            }


            svg {
                width: 60px;
                height: 58px;
                margin-bottom: 40px;
                z-index: 4;

                &:hover {
                    polygon {
                        fill: $pink;
                    }

                    ~i {
                        color: $white;
                        z-index: 5;
                    }
                }

                polygon {
                    stroke-width: 1;
                    stroke: $pink;
                    fill: transparent;
                }
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-38px);
                color: $pink;
            }


            .hex {
                height: 70px;
                width: 40px;
                background: transparent;
                position: relative;
            }

            .hex:before,
            .hex:after {
                content: "";
                border-top: 35px solid transparent;
                border-bottom: 35px solid transparent;
                position: absolute;
            }

            .hex:before {
                left: -19px;
                border-right: 20px solid $pink;
            }

            .hex:after {
                right: -19px;
                top: 0;
                border-left: 20px solid $pink;
            }

            .hex.inner {
                background-color: transparent;
                transform: scale(.95, .95);
                z-index: 1;
            }

            .hex.inner:before {
                border-right: 20px solid transparent;
            }

            .hex.inner:after {
                border-left: 20px solid transparent;
            }
        }

        .figure {
            height: 18px;
            width: 100%;
            position: relative;
            top: 71px;

            .hexagon {
                width: 8px;
                height: 18px;
                background: $pink;
                position: relative;
                margin: 200px;

                .line {
                    width: 517px;
                    height: 1px;
                    background: $pink;
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translateX(50%);

                    @media screen and (min-width: 576px) and (max-width: 768px) {
                        width: 400px;
                    }

                    @media screen and (min-width: 320px) and (max-width: 576px) {
                        width: 300px;
                    }
                }
            }

            .hexagon:before {
                content: "";
                position: absolute;
                top: 0px;
                right: -7px;
                width: 0;
                height: 0;
                border-top: 9px solid transparent;
                border-left: 7px solid $pink;
                border-bottom: 9px solid transparent;
            }

            .hexagon:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -7px;
                width: 0;
                height: 0;
                border-top: 9px solid transparent;
                border-right: 7px solid $pink;
                border-bottom: 9px solid transparent;
            }
        }
    }
}