.follow {
    width: 100%;
    height: 383px;
    position: relative;
    background-image: url('../../img/socialbg.png');
    background-size: cover;
    background-position: center center;
    z-index: 1;

    &:hover {
        .hover-bg {
            display: block;
        }
    }

    .hover-bg {
        display: none;
        width: 100%;
        height: 383px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container {
        z-index: 3;
        padding-bottom: 90px;

        h2 {
            @include textCaption;
            color: $white;
            margin: 0 auto 50px;

            span {
                color: $pink;
            }
        }

        .social {
            display: flex;
            justify-content: center;

            .social-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 25px;

                @media screen and (max-width: 576px) {
                    margin: 0 10px;
                }

                @media screen and (max-width: 400px) {
                    margin: 0 5px;
                }

                p {
                    font: 16px 'Lato-Regular', sans-serif;
                    color: $white;
                    margin: 0;
                }

                .wrapper {
                    position: relative;
                    margin-bottom: 40px;

                    svg {
                        width: 60px;
                        height: 58px;
                        z-index: 4;

                        &:hover {
                            polygon {
                                fill: $pink;
                            }

                            ~i {
                                color: $white;
                                z-index: 5;
                            }
                        }

                        polygon {
                            stroke-width: 1;
                            stroke: $pink;
                            fill: transparent;
                            transition: fill 1.5s;
                        }
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -60%);
                        color: $pink;
                    }
                }

                .hex {
                    height: 70px;
                    width: 40px;
                    background: transparent;
                    position: relative;
                }

                .hex:before,
                .hex:after {
                    content: "";
                    border-top: 35px solid transparent;
                    border-bottom: 35px solid transparent;
                    position: absolute;
                }

                .hex:before {
                    left: -19px;
                    border-right: 20px solid $pink;
                }

                .hex:after {
                    right: -19px;
                    top: 0;
                    border-left: 20px solid $pink;
                }

                .hex.inner {
                    background-color: transparent;
                    transform: scale(.95, .95);
                    z-index: 1;
                }

                .hex.inner:before {
                    border-right: 20px solid transparent;
                }

                .hex.inner:after {
                    border-left: 20px solid transparent;
                }
            }
        }

        .figure {
            bottom: 6px;

            .hexagon {
                background: $pink;
                margin: 200px;

                .line {
                    background: $pink;
                }
            }

            .hexagon:before {
                border-left: 7px solid $pink;
            }

            .hexagon:after {
                border-right: 7px solid $pink;
            }
        }
    }
}