.footer {
    width: 100%;
    height: 80px;
    background-color: $darkGrey;

    .container {
        height: 80px;
        position: relative;

        h4,
        p {
            font: 16px 'MyriadPro-Regular', sans-serif;
            color: $dark-text;
            margin: 0;
        }

        h4 {
            @media screen and (min-width: 320px) and (max-width: 576px) {
                position: absolute;
                left: 40px;
            }
        }

        p {
            position: absolute;
            right: 40px;
        }
    }
}