.services {
    width: 100%;
    background-color: $darkBg;
    position: relative;

    h2 {
        @include textCaption;
        color: $white;

        span {
            color: $pink;
        }
    }

    p {
        @include textDescription;
        color: $listColor;
        margin-bottom: 100px;

        span {
            color: $pink;
        }
    }

    .services-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 1200px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        .service-item {
            max-width: 540px;
            margin: 0 15px 57px;

            .service-item-caption {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: -10px;

                @media screen and (max-width: 992px) {
                    justify-content: center !important;
                }

                @media screen and (max-width: 576px) {
                    justify-content: center !important;
                    margin: 0;
                }


                .wrapper {
                    position: relative;
                    width: 115px;
                    height: 107px;

                    @media screen and (max-width: 1200px) {
                        width: 89px;
                        height: 83px;
                    }

                    svg {
                        width: 115px;
                        height: 107px;

                        @media screen and (max-width: 1200px) {
                            width: 89px;
                            height: 83px;
                        }

                        polygon {
                            transform: scale(1.9);
                            fill: $listColor;

                            @media screen and (max-width: 1200px) {
                                transform: scale(1.5)
                            }
                        }
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(1.2);

                        @media screen and (max-width: 1200px) {
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }

                h3 {
                    font: 20px 'Raleway-Medium', sans-serif;
                    text-transform: uppercase;
                    color: $white;
                    margin: 0 0 0 58px;

                    @media screen and (max-width: 992px) {
                        margin-left: 30px;
                        font-size: 16px;
                    }

                    @media screen and (max-width: 576px) {
                        margin-left: 10px;
                        font-size: 16px;
                    }
                }
            }

            .service-item-description {
                background-color: $description;
                font: 16px 'Lato-Regular', sans-serif;
                color: $listColor;
                text-align: justify;
                padding: 30px;
                margin-top: 35px;

                @media screen and (max-width: 576px) {
                    margin-top: 20px;
                }
            }

            &:hover {
                cursor: pointer;

                .service-item-caption {
                    .wrapper {
                        svg {
                            polygon {
                                fill: $pink;
                            }
                        }

                        i {
                            color: $white;
                        }

                    }

                    .hexagon::before {
                        border-left: 25px solid $pink;
                    }

                    .hexagon::after {
                        border-right: 25px solid $pink;
                    }
                }

                .service-item-description {
                    background-color: $purple;
                    color: $white;
                }
            }
        }
    }

    .figure {
        .hexagon {
            background: $pink;

            .line {
                background: $pink;
            }
        }

        .hexagon:before {
            border-left: 7px solid $pink;
        }

        .hexagon:after {
            border-right: 7px solid $pink;
        }
    }
}