.teamwork {
    width: 100%;

    h2 {
        @include textCaption;

        span {
            color: $pink;
        }
    }

    p {
        @include textDescription;

        span {
            color: $pink;
        }
    }

    .teamwork-blocks {
        margin: 100px 0;

        .employee-card {

            .wrapper {
                position: relative;
                width: 270px;
                height: 360px;
                border: 1px solid $light;
                margin: 0 auto 20px;
                overflow: hidden;

                img {
                    border-bottom: 1px solid $light;
                }

                h2 {
                    font: 20px 'Raleway-Medium', sans-serif;
                    color: $darkGrey;
                    text-transform: uppercase;
                    margin: 33px auto 25px;
                }

                h3 {
                    color: $textColor;
                    font: 16px 'Lato-Regular', sans-serif;
                    margin: 0 auto 32px;
                }

                .hover-employee-card {
                    display: none;
                    height: 240px;
                    width: 100%;
                    position: absolute;
                    background-color: $darkGrey;
                    top: 0;
                    left: 0;

                    .hexagon {
                        width: 25px;
                        height: 41px;
                        background: $white;
                        position: relative;
                        margin: 0 15px;

                        img {
                            border-bottom: none;
                        }
                    }

                    .hexagon:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        right: -10px;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-left: 10px solid $white;
                        border-bottom: 20px solid transparent;
                    }

                    .hexagon:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: -10px;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-right: 10px solid $white;
                        border-bottom: 20px solid transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:hover {
                    border-color: $darkGrey;
                    cursor: pointer;

                    .hover-employee-card {
                        display: flex;
                    }

                    h2 {
                        color: $pink;
                    }
                }
            }
        }
    }

    .figure {
        height: 18px;
        width: 100%;
        position: relative;
        top: 9px;

        .hexagon {
            width: 8px;
            height: 18px;
            background: $darkGrey;
            position: relative;
            margin: 200px;

            .line {
                width: 517px;
                height: 1px;
                background: $darkGrey;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translateX(50%);

                @media screen and (min-width: 576px) and (max-width: 768px) {
                    width: 400px;
                }

                @media screen and (min-width: 320px) and (max-width: 576px) {
                    width: 300px;
                }
            }
        }

        .hexagon:before {
            content: "";
            position: absolute;
            top: 0px;
            right: -7px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-left: 7px solid $darkGrey;
            border-bottom: 9px solid transparent;
        }

        .hexagon:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -7px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-right: 7px solid $darkGrey;
            border-bottom: 9px solid transparent;
        }
    }
}