.teamwork {
    width: 100%;
    .teamwork-blocks {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 0 100px 0;
        @media screen and (max-width: 1200px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        .employee-card {
            @media screen and (max-width: 1200px) {
                margin: 0 15px;
            }
            .wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                width: 270px;
                height: 360px;
                border: 1px solid $light;
                margin: 0 auto 20px;
                overflow: hidden;
                img {
                    border-bottom: 1px solid $light;
                }
                h2 {
                    font: 20px 'Raleway-Medium', sans-serif;
                    color: $darkGrey;
                    text-transform: uppercase;
                    margin: 33px auto 25px;
                }
                h3 {
                    color: $textColor;
                    font: 16px 'Lato-Regular', sans-serif;
                    margin: 0 auto 32px;
                }
                .hover-employee-card {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    height: 240px;
                    width: 100%;
                    position: absolute;
                    background-color: $darkGrey;
                    top: -100%;
                    left: 0;
                    transition: all 1s;
                    .hexagon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 41px;
                        background: $white;
                        position: relative;
                        margin: 0 15px;
                        img {
                            border-bottom: none;
                        }
                    }
                    .hexagon:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        right: -10px;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-left: 10px solid $white;
                        border-bottom: 20px solid transparent;
                    }
                    .hexagon:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: -10px;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-right: 10px solid $white;
                        border-bottom: 20px solid transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &:hover {
                    border-color: $darkGrey;
                    cursor: pointer;
                    .hover-employee-card {
                        display: flex;
                        top: 0;
                    }
                    h2 {
                        color: $pink;
                    }
                }
            }
        }
    }
}