.twitter {
    width: 100%;
    background-color: $darkBg;
    .twitter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 15px 100px;
        img {
            display: block;
            margin-bottom: 25px;
        }
        p {
            font: 16px 'Lato-Regular', sans-serif;
            color: $white;
            max-width: 650px;
            text-align: center;
            line-height: 1.4;
            margin: 0;
        }
        .tweet {
            position: absolute;
            bottom: 0;
            left: 29px;
            margin: 0;
        }
        .figure {
            .hexagon {
                background: $pink;
                margin: 200px;
                .line {
                    background: $pink;
                }
            }
            .hexagon:before {
                border-left: 7px solid $pink;
            }
            .hexagon:after {
                border-right: 7px solid $pink;
            }
        }
    }
}