@font-face {
    font-family: 'Raleway-Bold';
    src: url(../../fonts/Raleway-Bold.ttf),
         url(../../fonts/Raleway-Bold.eot),
         url(../../fonts/Raleway-Bold.woff);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(../../fonts/Raleway-Medium.ttf),
         url(../../fonts/Raleway-Medium.eot),
         url(../../fonts/Raleway-Medium.woff);
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(../../fonts/Raleway-Regular.ttf),
         url(../../fonts/Raleway-Regular.eot),
         url(../../fonts/Raleway-Regular.woff);
}
@font-face {
    font-family: 'Raleway-Semibold';
    src: url(../../fonts/Raleway-SemiBold.ttf),
         url(../../fonts/Raleway-SemiBold.eot),
         url(../../fonts/Raleway-SemiBold.woff);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(../../fonts/Lato-Bold.ttf),
         url(../../fonts/Lato-Bold.eot),
         url(../../fonts/Lato-Bold.woff);
}
@font-face {
    font-family: 'Lato-Regular';
    src: url(../../fonts/Lato-Regular.ttf),
         url(../../fonts/Lato-Regular.eot),
         url(../../fonts/Lato-Regular.woff);
}
@font-face {
    font-family: 'Lato-Black';
    src: url(../../fonts/Lato-Black.ttf),
         url(../../fonts/Lato-Black.eot),
         url(../../fonts/Lato-Black.woff);
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(../../fonts/MyriadPro-Regular.ttf),
         url(../../fonts/MyriadPro-Regular.eot),
         url(../../fonts/MyriadPro-Regular.woff);
}