@mixin textCaption {
    font: 30px 'Raleway-Bold', sans-serif;
    color: $darkGrey;
    text-align: center;
    margin: 0 auto 50px;
}

@mixin textDescription {
    font: 16px 'Lato-Regular', sans-serif;
    text-align: center;
}