// Colors
$pink: #ff0036;
$white: #ffffff;
$light: #e7e7e7;
$dark: #737373;
$black: black;
$listColor: #a4a4a4;
$textColor: #505050;
$darkGrey: #262626;
$lightGrey: #9b9b9a;
$darkBg: #272727;
$btn: #e0e0e0;
$btn-dark: #393939;
$bg-light: #f2f2f2;
$bg-phone: #4c4c4c;
$description: #343434;
$purple: #3d2329;
$dark-text: #5e5e5e;
